@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {

	font-family: Open Sans;
	font-weight: 400;
	text-align: center;
	color: #fff;

	overflow: hidden;

}

#weather_container > div { width: 100%; margin-left: 1.99%; }

#weather_container > div:first-child { margin: 0; }

.weather_image {

 	width: 100%;
 	height: 50%;

	background-size: 100% 200%;
	background-position: center;
}

.weather_image ~ div { position: relative; width: 100%; height: 50%; }

.weather_temp_day {

	width: 100%;
	height: 50%;

 	font-size: 9vw;
 	line-height: 8vw;
 	font-weight: 700;
}

.weather_temp_night {

	position: absolute;

	width: 50%;
	height: 50%;

	top: 0;
	right: 0;

	box-sizing: border-box;

	padding-left: 25%;

	font-size: 3vw;
	line-height: 13.4vw;
	text-align: left;
	color: #8d8d8d;
}

.weather_info {

	width: 100%;
	height: 25%;

	line-height: 2.6vw;
	font-size: 2.3vw;
}

.weather_town {

	position: absolute;

	width: 100%;

	bottom: 0;
	margin-bottom: 0.2%;

	font-size: 2vw;
	color: #8b8b8b;
}